@import url('https://fonts.cdnfonts.com/css/devin-chavez-font');
@import url('https://fonts.cdnfonts.com/css/pf-tempesta-five');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.tempFont{
    font-size: 19px;
    font-family: 'pf tempesta five';
    color: rgb(255, 255, 255);
    line-height: 2.1rem;
    letter-spacing: 1px;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}
.titleFont{
    font-size: 23px;
    font-weight: bold;
}
.boxBorder{
    border-top: 2px solid rgb(140, 140, 140);
    border-left: 2px solid rgb(140, 140, 140);
    box-shadow: 3px 3px 3px black;
    background-color: #131313;
}
body{
    margin: 0;
    background-color: #131313;
}
#pageFinal{
    height: 40vh;
    background-color: darkcyan;
}

#home,
#collection,
#story{
    display: flex;
    padding-top: 70px;
}
@media only screen and (max-width: 506px){
    .tempFont{
        font-size: 0.7rem;
        line-height: 1.4rem;
    }
}
@media only screen and (min-width: 506px) and (max-width: 800px){
    .tempFont{
        font-size: 0.9rem;
        line-height: 1.7rem;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1200px){
    .tempFont{
        font-size: 1rem;
        line-height: 1.8rem;
    }
}




